body{
    padding: 5px;
}

.inputDiv{
    border: 1px solid green;
    padding: 5px;
    margin: 10px;
    
}

.rezKonverzijeLbl{
    margin: 5px;
    color:red;
}

.countriesDiv{
    margin: 10px;
    margin-top: 0px;
    border: 1px solid red;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.firstCountriesLbl{
    color:royalblue;
}

.secondCountriesLbl{
    color:green;
}